<div class="my-3">
  <h4>Take Takelast and TakeUntil</h4>
  <p class="bg-light py-2 px-3 border rounded">
    <strong>Random Names : </strong> 'Anup', 'Shekhar', 'Sharma','User',
    'Sender', 'Receiver', 'Subscriber'
  </p>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex-01 Take(5)</strong>
      <hr />
      <ul id="elContainer15"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex-02 Take last(5) </strong>
      <hr />
      <ul id="elContainer16"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex-03 Take Until(condition)</strong>
      <hr />
      <ul id="elContainer17">
        
      </ul>
    </div>
  </div>
</div>
