<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <a routerLink="formEvent">
        <li class="box">Form Event</li>
      </a>
      <a routerLink="interval">
        <li class="box">Interval</li>
      </a>
      <a routerLink="ofFrom">
        <li class="box">Of From</li>
      </a>
      <a routerLink="toArray">
        <li class="box">ToArray</li>
      </a>
      <a routerLink="custom">
        <li class="box">Custom</li>
      </a>
      <a routerLink="map">
        <li class="box">MAP</li>
      </a>
      <a routerLink="pluck">
        <li class="box">Pluck</li>
      </a>
      <a routerLink="filter">
        <li class="box">Filter</li>
      </a>
      <a routerLink="tap">
        <li class="box">Tap</li>
      </a>
      <a routerLink="take">
        <li class="box">Take</li>
      </a>
      <a routerLink="retry">
        <li class="box">Retry</li>
      </a>
      <a routerLink="debounce">
        <li class="box">Debounce</li>
      </a>
      <a routerLink="subject">
        <li class="box">Subject</li>
      </a>
      <a routerLink="replaySubject">
        <li class="box">Replay Subject</li>
      </a>
      <a routerLink="asyncSubject">
        <li class="box">Async Subject</li>
      </a>
      <a routerLink="concat">
        <li class="box">Concat</li>
      </a>
      <a routerLink="merge">
        <li class="box">Merge</li>
      </a>
      <a routerLink="mergeMap">
        <li class="box">Merge Map</li>
      </a>
      <a routerLink="concatMap">
        <li class="box">Concat Map</li>
      </a>
    </ul>
  </div>
</div>
