<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <a routerLink="formEvent">
        <li class="box">Form Event</li>
      </a>
      <a routerLink="interval">
        <li class="box">Interval</li>
      </a>

      <a routerLink="ofFrom">
        <li class="box">Of From</li>
      </a>
      <a routerLink="toArray">
        <li class="box">ToArray</li>
      </a>
      <a routerLink="custom">
        <li class="box">Custom</li>
      </a>
      <a routerLink="map">
        <li class="box">map</li>
      </a>
    </ul>
  </div>
</div>
