<div class="my-3">
  <h4>Merge-Map</h4>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex -01 | Map</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Tech Videos:</strong>1,2,3,4,5
      </p>
      <hr />
      <ul id="elContainer">

      </ul>
    </div>
    <div class="col-md-4">
      <strong>Ex-02 | Map + MergeAll</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Comedy Videos:</strong>1,2,3
      </p>
      <hr />
      <ul id="elContainer1">

      </ul>
    </div>
    <div class="col-md-4">
      <strong>Ex-03 mergeMap = map + merge All </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>News Videos:</strong>1,2,3,4
      </p>
      <hr />
      <ul id="elContainer2">

      </ul>
    </div>
  </div>
</div>
