welcome to async await
<div class="container">

  <div class="my-3">
    <h2>async/await</h2>

    <div class="row">
      <div class="col-md-4">
        <strong>Ex-01: with promise </strong>
        <hr>
        <button class="btn btn-primary" (click)="fetch1()">Buy Laptop</button>
        <hr>
        <div id="result1">{{data}}</div>
      </div>
      <div class="col-md-4">
        <strong>Ex-02: with Async/Await </strong>
        <hr>
        <button class="btn btn-primary" (click)="fetch2()">Buy Laptop</button>
        <hr>
        <div id="result1">{{data1}}</div>
      </div>
      <div class="col-md-4">
        <strong>Ex-03: with API </strong>
        <hr>
        <button class="btn btn-primary" (click)="fetch3()">Buy Laptop</button>
        <hr>
        <div id="result1">{{data2}}</div>
      </div>
    </div>
  </div>
</div>
