<div class="my-3">
  <h4>Map</h4>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex-01 Using Map and Pipe </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map:</strong> Data => 'Video' + Data
      </p>
      <br />
      <p>Message <strong class="text-success">{{msg1}}</strong></p>
    </div>
    <div class="col-md-4">
      <strong>Ex-02 Using Map and Pipe with operation </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map:</strong> Data => 10 + Data
      </p>
      <br />
     <p>Message <strong class="text-success">{{msg2}}</strong></p>
    </div>
    <div class="col-md-4">
      <strong>Ex-03 Convert object ot a list using map and pipe </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map:</strong>Object Data => list
      </p>
      <br />
<ul id="elContainer12"></ul>
    </div>
  </div>
</div>
